*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Times New Roman;
}

body{
 background-color: none;
}

header{
    display: flex;
    margin-bottom: 100px;
    background-color: rgb(0, 128, 128);
    justify-content: space-between;
    align-items: center;
    
}

header ul li a{
    font-size: 25px;
    font-weight: bold;    
    margin-right: 10px;
    text-decoration: none;
    color: white;
    border: solid 1.5px mediumspringgreen;
    border-radius: 12px;
    padding: 8px;
}
header ul li {
    list-style-type: none;
}

a:hover{
    background-color: rgb(30, 189, 210);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: mediumblue;
}


main{
    margin-bottom: 100px;
    background-color: rgba(196, 255, 240, 0.842);
}

footer{
    background-color:rgb(0, 128, 128);
    margin-top: 50px;
    text-align: center;
}


