
/* CSS atualizado pelo novo formulario */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif; ;
}


header{
    width: auto;
    display: flex;
     justify-content: space-between;
     align-items: center;
    border-bottom: solid 2px black;
    background-image: url(../img/3.png);
}

header ul li a{
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(158, 245, 193);
    border: solid 1.5px mediumspringgreen;
    border-radius: 12px;
    padding: 8px;
    background-color: rgba(0, 128, 128);
}

header ul li {
    list-style-type: none;
}

a:hover{
    background-color: rgb(30, 189, 210);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#btn-home{
    display: none;
}


.span-required{
    display: none;
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
}


.container {
    height: 100vh;
    width: 100%;
    background-color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20PX;
}

.form {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    max-width: 430px;
    width: 100%;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

form {
    margin-top: 30px;
}

span{
    font-size: 1.3 rem;
}

.form .field {
    position: relative;
    height: 50px;
    width:100%;
    margin-top: 20px;
    border-radius: 6px;
   
}

.field input.sucesso input{
    border:10px solid #237a45;
}


.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    padding-left: 15px;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid #cacaca;
}

.field input:focus{
    border-bottom-width: 3px;
}

.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #afa8a8;
    padding: 5px;
    cursor: pointer;
}

.eye-icon:hover{
    color: #000;
}

.field button{
    background-color:#25b19e;
    color: #fff;
    font-weight: 300s;
    
}

.field button:hover{
    background-color:#0c8070;
    cursor: pointer;
    transition: all .5s ease;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    
}

.form a{
    color: rgb(10, 85, 81);
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #237a45;
}

.line::before{
    content: "Or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #232836;
    padding: 00px 15px;
}

.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook{
    background-color: #4267b2;
    color: #fff;
}

a.facebook .facebook-icon{
    height: 28px;  
    width: 28px;
    color: #4267b2;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google{
    border: 1px solid #cacaca;
}

a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #000;
}


footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 100px;
    background-color: rgba(0, 128, 128);
    align-items: center;
    border-top: solid 2px black;
}
  
footer img {
    width: 100px;
    height: 80%;
    opacity: 30%;
}
  
.footer-text p{
    margin-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 310px;
} 


