body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/background-index.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:cadetblue;
    overflow: hidden;
    
}
#botoes_direita{
    display: flex;
    gap: 0.5rem;
    margin: 2rem;

}
#botoes_centro{
    display: flex;
    gap: 3rem;    
}


main{
    display: flex;
    justify-content: center;
    margin: 10rem 5rem 10rem 5rem ;
}

#input_central_main{
    display: flex;
    gap: 2px;
}
#pesquisar{
    display: flex;
    width: 50rem;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;   
    align-items: center;
    background-color: cadetblue;
    /* margin: 10rem; */
}

#input_footer{
    margin: 0em 2em 4em 1em;
    padding: 0%;
}
#texto_footer{
    margin: 15px;
}

.bnt-listar-estacionamento{
    border: 1px solid transparent;
    width: auto;
    text-align: center;
}
.bnt-sobre{
    border: 1px solid transparent;
    width: auto;
    text-align: center;
}