body {
    background-color: rgb(210, 250, 237);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'ROBOTO', sans-serif;   
}

a {
    text-decoration: none;
}

form {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

input{
    border: none;
}

H4{
    color: white;
}

#face, #google, #twiter{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 2;
}

.caixa, .caixa2 {
    width: 265px;
    height: 450px;
    background-color: rgb(74, 161, 132);
    display: block;
    align-items: center;
    margin: auto 10px;
    box-shadow: 5px  5px 10px rgba(0, 0, 0, 0.3);
}

.google, .face, .twiter, .email, 
.senha, .contato, .nome {
    
    width: 200px;
    height: 20.0px;
    padding: 10px;
    background-color: white;
    color: black;
    margin: 20px;
    display: block;
    align-items: auto;
}