*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Times New Roman;
}
body{
    background-color: none;
    font-family: 'Times New Roman', Times, serif;
}
header{
    display: flex;
    margin-bottom: 100px;
    background-color: rgb(0, 128, 128);
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background: rgb(0, 128, 128);
    color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    align-items: center;
}

div.botao{
    background: rgb(0, 128, 128);
    color: #f1f1f1;
}

input[type="submit"]{
    width: 20%;
    padding: 15px;
    align-items: flex;
    justify-content: flex-end;
    background-color: rgb(0, 128, 128);
    border-radius: 50px;
}

a{
    color: #f1f1f1;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
      
nav {
    position: center;
    top: 0px;
    right: 0px;
    font-family: 'Times New Roman', Times, serif;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    background: rgb(0, 128, 128);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
main{
    margin-bottom: 100px;
    background-color: rgba(196, 255, 240, 0.842);
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

footer{
    background-color:rgba(0, 128, 128);
    color: white;
    margin-top: 50px;
    text-align: center;
}
